/* Resetting default margin and padding for all elements */
.Stock-Profile {
    background-color: #93d0f4;
    text-align: center;   
}

.table {
    background-color: #ddd;
    border-collapse: collapse;
    
}

.Stock-Symbol {
    margin-top: 0px;
}
.stan {
    margin-top: 0px;
}

* {
    margin: 0;
    padding: 0;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Add in your own customisations */